<form action="/parcels" method="post">
  <label for="height">Add height of parcel</label>
  <input id="height" name="height" type="number">
  
  <label for="length">Add length of parcel</label>
  <input id="length" name="length" type="number">
  
  <label for="width">Add width of parcel</label>
  <input id="width" name="width" type="number">

  <label for="weight">Add weight of parcel</label>
  <input id="weight" name="weight" type="number">
  <button type="submit">Submit</button>
</form>